@{
    ViewData["Title"] = "Contato";
}

<div class="container mt-5">
    <div class="text-center">
        <img src="~/images/faleconosco1.jpg" alt="Fale conosco" class="img-fluid mb-4" />
    </div>
    <div class="jumbotron jumbotron-custom">
        <h3 class="mb-4">Queremos saber o que você tens a dizer...</h3>
        <p class="lead mb-4">Se você tiver alguma dúvida ou sugestão, fale conosco.</p>
        <div class="contact-info d-flex align-itens-center mb-3">
            <span class="mr-3">
                <img src="~/images/Envelope-icon24.png" alt="Email Icon" class="img-fluid" />
            </span>
            <h5><email Endereco="louisecassimiro@hotmail.com" Conteudo="Enviar um e-mail"></email></h5>
        </div>
        <div class="contact-info d-flex align-itens-center mb-3">
            <span class="mr-3">
                <img src="~/images/phone-app-icon.png" alt="Phone Icon" class="img-fluid" />
            </span>
            <h5>+351 924 648 287</h5>
        </div>
        <div class="contact-info d-flex align-itens-center">
            <span class="mr-3">
                <img src="~/images/Home-iconred.png" alt="Home Icon" class="img-fluid" />
            </span>
            <h5>Av. da Liberdade 1000 - Lisboa</h5>
        </div>
    </div>
</div>
